@media (max-width: 1399px)
{
    body
    {
        font-size: 18px;
    }

    .text-block h1,
    .text-block .title
    {
        font-size: 46px;
    }

	.text-block h3
	{
		font-size: 34px;
	}

	.wrap-btn
	{
		margin-top: 40px;
	}

    .btn-green,
	.btn-light
    {
        font-size: 19px;
        line-height: 54px;
    }

    ._marg
    {
        margin-top: 60px;
    }

	._pad
	{
		padding: 60px 0;
	}


    .main-title
    {
        font-size: 38px;
    }

	.text-block h2{
		font-size: 38px;
		margin-bottom: 30px;
	}

    .header__logo
    {
        max-width: 180px;
    }

    .header-catalog__open.btn-light
    {
        font-size: 17px;
        line-height: 48px;

        padding: 0 15px 0 40px;
    }

    .header-catalog__open span
    {
        left: 18px;
    }

    .nav-menu__item
    {
        font-size: 17px;
    }

    .nav-menu__item + .nav-menu__item
    {
        margin-left: 15px;
    }

    .header__socials-link
    {
        width: 45px;
        height: 45px;
    }

    .header__phone
    {
        font-size: 18px;
    }

    .header__callback-btn.btn-green
    {
        font-size: 17px;
        line-height: 48px;

        height: 48px;
    }


    .first-section
    {
        padding-bottom: 40px;
    }

    .first-section__img
    {
        top: -75px;

        width: 480px;
        height: 629px;
        margin-right: 290px;
    }

    .first-section__banner-img
    {
        width: 1060px;
        height: 620px;
    }

    .first-section__top
    {
        margin-bottom: 50px;
    }

    .first-section-form__input
    {
        font-size: 20px;

        height: 60px;
    }

    .first-section-form__submit-btn
    {
        line-height: 60px;
    }

    .first-section__items
    {
        margin: 50px 0 0 -20px;
    }

    .first-section__item
    {
        width: calc(100% / 4 - 20px);
        margin: 20px 0 0 20px;
        padding: 20px;

        border-radius: 24px;
    }

    .first-section__icon
    {
        width: 50px;
        height: 50px;
    }

    .first-section__box
    {
        width: calc(100% - 70px);
    }

    .first-section__desc
    {
        font-size: 16px;
    }


    .communications__item
    {
        padding: 30px;

        border-radius: 24px;
    }

	.communications__top{
		max-width: 63%;
	}

	.communications__top {
		max-width: 60%;
	}

    .communications__name
    {
        font-size: 22px;
    }


    .advantages__item
    {
        padding: 30px;

        border-radius: 24px;
    }

    .advantages__icon
    {
        width: 70px;
        height: 70px;
    }

	.first-section__title
	{
		font-size: 46px;
	}

	.first-section__top
	{
		margin-bottom: 50px;
	}

    .advantages__name
    {
        font-size: 23px;

        margin-top: 20px;
    }


    .reviews__item
    {
        border-radius: 24px;
    }

	.reviews__wrap
	{
		padding: 30px;
	}

    .reviews__top
    {
        font-size: 26px;
    }

    .reviews__icon
    {
        width: 26px;
        height: 26px;
    }

    .reviews__bot
    {
        font-size: 15px;
    }

    .reviews__video::after
    {
        width: 90px;
        height: 90px;
        margin: -45px 0 0 -45px;
    }


    .main-about__title
    {
        font-size: 48px;
    }

    .main-about__desc
    {
        font-size: 19px;
    }

    .brigadiers__name
    {
        font-size: 28px;
    }


    .brigadiers__photo
    {
        border-radius: 24px;
    }


    .brands__brand-img
    {
        border-radius: 24px;
    }

    .brands__brand
    {
        font-size: 18px;
    }


    .section-form__wrap,
    .main-form
    {
        border-radius: 24px;
    }


	.banner-about__title
	{
		font-size: 46px;
	}

	.specialization__item
	{
		font-size: 23px;
	}


	.specialization__img,
	.norms-standards__item
	{
		border-radius: 24px;
	}


	.inner-info__desc
	{
		font-size: 19px;
	}

	.inner-info__img
	{
		border-radius: 24px;
	}


	.section-grid__title
	{
		font-size: 24px;
	}
	
	.section-grid__desc
	{
		font-size: 19px;
	}

	.section-grid__item
	{
		border-radius: 24px;
	}

	.section-grid__item-empty .section-grid__desc + .section-grid__btn
	{
		margin-top: 20px;
	}


	.section-result__desc
	{
		font-size: 19px;
	}

	.section-result__img
	{
		border-radius: 24px;
	}


	.key-factors__item
	{
		border-radius: 24px;
	}

	.accordion__item
	{
		border-radius: 24px;
	}

	.accordion__title
	{
		font-size: 28px;
	}


	.ways-info__item
	{
		border-radius: 24px;
	}


	.articles__item
	{
		min-height: 390px;
		border-radius: 24px;
	}

	.articles__title
	{
		font-size: 36px;
	}

	.articles__desc
	{
		font-size: 19px;
	}


	.stages .text-block
	{
		font-size: 19px;
	}
	
	.stages__title
	{
		font-size: 28px;
	}

	.stages__item
	{
		border-radius: 24px;
		min-height: 410px;
		padding: 30px;
	}

	.stages__number
	{
		font-size: 42px;
	}

	.stages__name
	{
		padding-right: 80px;
		font-size: 23px;
	}

	.stages__desc,
	.stages__info
	{
		font-size: 19px;
	}

	.stages__icon
	{
		width: 74px;
		height: 74px;
	}


	.section-info__coll 
	{
		width: calc(45% - 20px);
	}

	.section-info__colr 
	{
		width: calc(55% - 20px);
	}

	.section-info__img
	{
		border-radius: 24px;
	}


	.pagination__flex a
	{
		width: 54px;
		height: 54px;
		font-size: 19px;
		line-height: 54px;
	}


	.solutions__img img
	{
		border-radius: 24px;
	}


	.install-products .text-block
	{
		font-size: 19px;
	}

	.install-products__item,
	.install-products__product
	{
		border-radius: 24px;
	}

	.install-products__name
	{
		font-size: 28px;
	}

	.install-products__note,
	.information__note,
	.section-result__note
	{
		font-size: 19px;
	}


	.information__img
	{
		border-radius: 24px;
	}


	.packages__img
	{
		border-radius: 24px;
	}

	.packages__name
	{
		font-size: 34px;
	}

	.packages__price
	{
		font-size: 28px;
	}

	.packages__desc,
	.packages__job
	{
		font-size: 19px;
	}
	/*------------
		commit
	------------*/
    .innre-banner__flex{
        min-height: 1px;
    }

    .innre-banner__info {
        margin-bottom: 30px;
    }


	.page-title {
        font-size: 40px;
    }

	.videos__video{
		border-radius: 24px;
	}

	.videos__video::after {
        width: 90px;
        height: 90px;
        margin: -45px 0 0 -45px;
	}


	.text-block_marg{
		margin-top: 40px;
	}

	.tabs-container_marg{
		margin-top: 26px;
	}

	.tabs_marg{
		margin-bottom: 36px;
	}

	.tabs__btn{
		font-size: 18px;
		padding-left: 24px;
		padding-right: 24px;
		min-height: 56px;
	}

	.innre-banner__box._small .page-title br{
		display: none;
	}

	.innre-banner__box_pad{
		padding-bottom: 41px;
	}

	.section-form__top{
		margin-bottom: 40px;
	}

	.advantages-info__grid{
		margin: 20px 0 0 -20px;
	}

	.advantages-info__item {
		margin: 20px 0 0 20px;
		width: calc(100% / 3 - 20px);
	}
}