@media (max-width: 767px)
{
	.text-block h1, 
	.text-block .title 
	{
		font-size: 30px;
	}


	.form .form__input
	{
		height: 54px;
	}


	.main-title
	{
		font-size: 26px;
	}

	.main-title br
	{
		display: none;
	}

	.main-subtitle 
	{
		margin-top: 18px;
		font-size: 16px;
	}


	.main-title__marg-right
	{
		margin-right: 100px;
	}

	._marg
	{
		margin-top: 30px;
	}

	._pad
	{
		padding: 30px 0;
	}

	.slider-button-prev, 
	.slider-button-next
	{
		width: 40px;
		height: 40px;
		margin-top: -20px;
	}

	.slider-button-prev svg, 
	.slider-button-next svg
	{
		width: 6px;
		height: 12px;
	}

	.slider-button-prev._top
	{
		right: 48px;
	}

	.slider-button-prev._top, 
	.slider-button-next._top
	{
		margin-top: -70px;
	}


	.first-section
	{
		padding-top: 45px;
		padding-bottom: 0;
	}

	.first-section__img
	{
		top: -71px;
		margin-right: -80px;
		width: 429px;
		height: 562px;
	}

	.first-section__wrap
	{
		position: relative;
		padding-bottom: 360px;
	}

	.first-section__banner-img
	{
		/* position: relative; */
		height: 361px;
		margin-left: -320px;
		top: auto;
		bottom: 0;
	}

	.first-section__banner-img img
	{
		min-width: 620px;
	}

	.first-section__title
	{
		font-size: 30px;
	}

	.first-section__top
	{
		display: none;;
	}


	.first-section__bot
	{
		position: relative;
		z-index: 1;
		margin-top: -40px;
		background: #fff;
		border-radius: 24px 24px 0 0;
		padding-top: 28px;
	}

	.first-section-form
	{
		padding-bottom: 14px;
		border-bottom: 1px solid #ECF0F8;
	}

	.first-section-form__flex
	{
		display: block;
	}

	.first-section-form__field
	{
		min-width: 1px;
		width: 100%;
	}

	.first-section-form__input
	{
		background: #F4F6FB;
	}

	.first-section-form__submit-btn
	{
		margin-left: 0;
		width: 100%;
		margin-top: 15px;
	}

	.first-section-form__agree
	{
		text-align: center;
	}

	.first-section-form__agree
	{
		font-size: 15px;
	}


	.section-form__mob-img .section-form__img
	{
		display: block;
		width: calc(100% + 40px);
		margin-left: -20px;
	}

	.section-form__mob-img .section-form__wrap
	{
		overflow: visible;
		padding: 36px 0;
	}

	.main-form__desc br
	{
		display: none;
	}


	.first-section__items
	{
		margin-top: 7px;
	}

	.first-section__item
	{
		justify-content: center;
		padding: 32px 12px 24px;
		background: #F4F6FB;
		border-radius: 24px;
	}

	.first-section__icon
	{
		width: 49px;
		height: 46px;
	}

	.first-section__box
	{
		width: 100%;
		text-align: center;
		margin-top: 25px;
	}

	.first-section__name
	{
		font-size: 18px;
	}


	.stocks__slider
	{
		margin-top: 25px;
	}


	.portfolio__items
	{
		margin-left: -15px;
	}

	.portfolio__item 
	{
		width: calc(100% / 3 - 15px);
		margin-left: 15px;
	}


	.reviews__item
	{
		min-height: 227px;
	}


	.main-about__coll
	{
		width: 100%;
		order: 2;
	}

	.main-about__colr
	{
		width: 100%;
		order: 1;
	}

	.main-about__box
	{
		margin-left: 0;
		max-width: 100%;
	}

	.main-about__btn
	{
		text-align: center;
	}

	.brigadiers__sticker
	{
		top: 23px;
		left: 20px;
		font-size: 12px;
	}

	.brigadiers__name 
	{
		font-size: 18px;
	}

	.brigadiers__position 
	{
		font-size: 15px;
	}

	.brigadiers__info
	{
		font-size: 14px;
	}


	.brands__grid
	{
		margin-left: -15px;
		margin-top: 20px;
	}

	.brands__brand 
	{
		width: calc(100% / 3 - 15px);
		margin-left: 15px;
		margin-top: 10px;
	}


	.section-form__img,
	.section-form__wrap::after
	{
		display: none;
	}

	.section-form__wrap
	{
		padding: 6px 0;
	}


	.main-form
	{
		max-width: 100%;
		padding: 20px 20px 36px;
	}

	.main-form__desc
	{
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 16px;
	}


	.specialization__item
	{
		width: calc(100% / 2 - 15px);
		font-size: 16px;
	}

	.specialization__desc
	{
		font-size: 16px;
	}


	.norms-standards__item
	{
		width: 100%;
	}


	.about__info
	{
		padding: 23px 20px;
		border-radius: 24px;
	}


	.inner-info__item
	{
		width: 100%;
	}

	.inner-info__item + .inner-info__item
	{
		margin-top: 30px;
	}


	.ways-info__item + .ways-info__item
	{
		margin-top: 15px;
	}

	.ways-info__title 
	{
		font-size: 22px;
	}

	.ways-info__img
	{
		width: 100%;
	}

	.ways-info__info
	{
		width: 100%;
		margin-top: 25px;
	}

	.ways-info__price 
	{
		font-size: 21px;
	}

	.ways-info__bot
	{
		margin-top: 16px;
	}


	.section-result__items
	{
		margin-left: -15px;
	}

	.section-result__item 
	{
		width: calc(100% / 2 - 15px);
		margin-left: 15px;
	}


	.btn-black-mob
	{
		background: #051824;
		color: #fff;
		padding: 15px 50px;
		line-height: normal;
	}

	.btn-black-mob::before
	{
		position: absolute;
		content: '';
		top: 50%;
		left: 20px;

		display: block;

		width: 14px;
		height: 21px;

		margin-top: -10.5px;

		background: url(../images/ic_lightning.svg) 50%/contain no-repeat;
	}


	.key-factors__icon
	{
		margin-top: 3px;
	}

	.key-factors__item
	{
		width: 100%;
		margin-top: 15px;
	}


	.section-grid__grid
	{
		grid-template-columns: repeat(1, 1fr);
		gap: 15px;
	}
	
	.section-grid__item,
	.section-grid__item.item-big 
	{
		grid-column: span 1;
	}


	.accordion__title
	{
		padding: 18px 84px 18px 20px;
		font-size: 18px;
		min-height: 96px;
	}

	.faq__plus-minus
	{
		margin-top: 0;
		top: 24px;
		right: 21px;
	}

	.accordion__data
	{
		padding-top: 0;
		padding-left: 20px;
		padding-right: 20px;
	}


	.articles__item
	{
		width: 100%;
		margin-top: 15px;
	}

	.articles__title 
	{
		font-size: 20px;
	}

	.articles__desc
	{
		font-size: 16px;
	}


	.stages .text-block
	{
		font-size: 16px;
	}

	.stages__item 
	{
		width: calc(100% / 1 - 20px);
		margin-top: 15px;
		min-height: 1px;
	}

	.stages__title 
	{
		font-size: 20px;
	}

	.stages__number 
	{
		font-size: 34px;
	}

	.stages__icon
	{
		margin-top: 10px;
	}

	.stages__info br
	{
		display: none;
	}

	.stages .wrap-btn
	{
		margin-top: 15px;
	}

	/*------------
		commit
	------------*/

	.communications__items{
		margin-top: 16px;
	}

	.communications__item{
		width: 100%;
		margin-top: 15px;
	}

	.banner-about__desc{
		margin-top: 12px;
	}


	.banner-about__title{
		font-size: 26px;
	}


	.modal{
		width: 380px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.modal__title{
		font-size: 24px;
	}

	.fancybox__content > .carousel__button.is-close{
		top: 15px;
	}


	.innre-banner::before{
		width: 322px;
	}

	.innre-banner__flex{
		display: block;
	}

	.innre-banner__box{
		margin: 0;
		padding: 46px 0 33px;
	}

	.innre-banner__box._middle{
		padding-bottom: 0;
	}

	.innre-banner .page-title{
		max-width: 84%;
	}

	.innre-banner__box._middle .page-title {
		max-width: none;
	}

	.innre-banner__text{
		font-size: 20px;
		padding-right: 0;
		max-width: none;
		margin-top: 15px;
	}

	.innre-banner__btn{
		margin-top: 32px;
	}

	.innre-banner__colr {
        width: calc(100% + 40px);
		margin-left: -20px;
        margin-right: -20px;
    }

	.innre-banner__colr._middle{
		width: calc(100% + 40px);
	}

	.innre-banner__img{
		margin-top: 0;
		min-height: 100%;
	}

	.innre-banner__img img{
		max-width: 600px;
	}


	.videos__video::after {
		width: 44px;
		height: 44px;
		margin: -22px 0 0 -22px;
		background-size: 15px auto;
		background-position: calc(50% + 1px) 50%;
	}


	.catalog__item {
		width: calc(100% / 2 - 20px);
	}

	.products__grid{
		--products_count: 2;
	}

	
	.footer
	{
		padding-top: 36px;
		padding-bottom: 30px;
	}

	.footer__coll
	{
		width: 100%;
	}

	.footer__colr
	{
		width: 100%;
		margin-top: 24px;
	}

	.footer__box
	{
		margin-top: 20px;
		padding-top: 20px;
	}

	.footer__btn
	{
		width: 100%;
	}

	.footer__title
	{
		font-size: 18px;
	}

	.footer__desc
	{
		margin-top: 23px;
	}

	.footer__socials-box
	{
		margin-top: 15px;
	}

	.footer__info
	{
		padding-top: 0;
		border-top: none;
	}

	.footer-menu
	{
		display: none;
	}

	.footer__copy
	{
		margin-top: 11px;
	}

	.footer__links
	{
		margin: 20px 0 0;
	}

	.footer__link
	{
		width: 100%;
		margin-top: 0;
		margin-left: 0;
	}
}