@media (max-width: 1023px)
{
	.wrap
	{
		padding-top: 82px;
		padding-bottom: 106px;
	}

	._marg
	{
		margin-top: 40px;
	}

	.text-block h1, 
	.text-block .title 
	{
		font-size: 36px;
	}

	.text-block h3
	{
		font-size: 22px;
	}

	.main-title
	{
		font-size: 28px;
	}

	.text-block h2{
		font-size: 28px;
	}

	.main-subtitle
	{
		margin-top: 20px;
		font-size: 19px;
	}

	.header-mob
	{
		display: block;
		height: 82px;

		position: fixed;
		z-index: 70;
		top: 0;
		left: 0;
		width: 100%;
	}

	.header-mob__logo
	{
		width: 132px;
	}

	.header-mob__phone
	{
		font-size: 13px;
	}

	.header__list,
	.header__time,
	.header__write-btn,
	.header__logo,
	.header-catalog__open,
	.header__socials,
	.header__phone,
	.header__callback-btn
	{
		display: none;
	}

	.header__callback-btn-mob
	{
		display: block;
	}

	.header__top
	{
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: none;
		display: block;
	}

	.header__box
	{
		margin-left: -15px;
	}

	.header__adres-btn
	{
		margin-left: 15px;
		line-height: 45px;
		background: rgba(77, 189, 60, .1);
		border-radius: 12px;
		width: calc(50% - 15px);
		padding-left: 0;
		font-size: 16px;
		text-align: center;
	}

	.header__adres-btn span
	{
		position: relative;
		padding-left: 28px;
	}

	.header__top .header__callback-btn-mob
	{
		display: block;
		line-height: 45px;
		margin-left: 15px;
		width: calc(50% - 15px);
		padding: 0 15px;
	}

	.mob-menu
	{
		display: block;
	}

	.header__info
	{
		display: none;
	}

	._lock
	{
		overflow: hidden;
	}

	.fix-btns
    {
        position: fixed;
        z-index: 70;
        bottom: 0;
        left: 0;

        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        width: 100%;
        padding: 19px 20px 18px;
		border-radius: 24px 24px 0 0;

        background: #FFF;
        box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, .05);
    }

    .fix-btns__btn
    {
        position: relative;

        color: rgba(40, 40, 40, .4);
        font-size: 12px;
        font-weight: 500;

        display: block;

        padding: 8px 0 10px;

        text-decoration: none;
		text-align: center;

        transition: color .2s linear;
    }

    .fix-btns__btn._active
    {
        color: #4DBD3C;
    }

    .fix-btns__btn-icon
    {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        height: 32px;
    }

    .fix-btns__btn-icon svg
    {
        display: block;

        width: 32px;
        height: 32px;

        stroke: #8C94A8;
		fill: none;
    }

	.fix-btns__btn._active .fix-btns__btn-icon svg
    {
        stroke: #4DBD3C;
    }

	.fix-btns__btn-dot
	{
		display: block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: #8C94A8;
		transition: background .2s linear;
	}

	.fix-btns__btn-dot + .fix-btns__btn-dot
	{
		margin-left: 4px;
	}

	.fix-btns__btn._active .fix-btns__btn-dot
    {
        background: #4DBD3C;
    }


	.fix-btns__btn-name
	{
		font-size: 14px;
		line-height: normal;
		letter-spacing: -.01em;
	}


    .header
    {
        position: fixed;
        z-index: 60;
        top: 82px;
        left: 0;

        display: block;
        visibility: hidden;
        overflow: hidden;
        overflow-y: auto;

        width: 100%;
        height: calc(100% - 82px);
		padding: 15px 0 130px;

        pointer-events: none;

        opacity: 0;
        background: #FFF;

        transition: opacity .2s linear, visibility .2s linear;
    }

    .header._show
    {
        visibility: visible;

        pointer-events: auto;

        opacity: 1;
    }


	.first-section__img 
	{
		margin-right: 45px;
	}

	.first-section__banner-img
	{
		width: 990px;
	}

	.first-section__top
	{
		margin-bottom: 30px;
	}

	.first-section__title
	{
		font-size: 36px;
	}

	.first-section__item
	{
		width: calc(100% / 2 - 15px);
		padding: 20px;
	}


	.main-about__slider 
	{
		padding: 0 80px;
	}

	.main-about__title 
	{
		font-size: 28px;
	}

	.slider-button-next
	{
		right: 10px;
	}

	.slider-button-prev
	{
		left: 10px;
	}


	.brigadiers__item
	{
		width: calc(100% / 2 - 20px);
	}

	.brigadiers__name
	{
		font-size: 22px;
	}

	.brands__brand
	{
		width: calc(100% / 4 - 20px);
	}


	.specialization__grid
	{
		margin-left: -15px;
	}

	.specialization__item 
	{
		width: calc(100% / 4 - 15px);
		margin: 15px 0 0 15px;
		font-size: 18px;
	}

	.specialization__name
	{
		margin-top: 15px;
	}

	.specialization__desc 
	{
		margin-top: 30px;
		font-size: 18px;
	}


	.norms-standards__item
	{
		padding: 30px;
	}

	.norms-standards__icon
	{
		height: 64px;
	}

	.norms-standards__name
	{
		font-size: 21px;
	}

	.norms-standards__desc
	{
		font-size: 18px;
	}


	.about__text
	{
		font-size: 18px;
	}

	.about__position
	{
		font-size: 18px;
		margin-top: 20px;
	}


	.inner-info__items
	{
		align-items: flex-start;
		align-content: flex-start;
	}

	.inner-info__item 
	{
		width: calc(100% / 2 - 10px);
	}


	.ways-info__item
	{
		padding-top: 25px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.ways-info__title 
	{
		font-size: 24px;
	}

	.ways-info__flex
	{
		margin-top: 20px;
	}

	.ways-info__img 
	{
		width: calc(40.14% - 10px);
	}

	.ways-info__info 
	{
		width: calc(59.86% - 10px);
	}

	.ways-info__list
	{
		column-width: 180px;
	}

	.ways-info__list li::before
	{
		width: 4px;
		height: 4px;
	}

	.ways-info__small-title 
	{
		font-size: 20px;
	}

	.ways-info__price 
	{
		font-size: 23px;
	}


	.section-result__name
	{
		font-size: 18px;
	}

	.section-result__desc
	{
		font-size: 16px;
	}

	
	.key-factors__item
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.key-factors__icon
	{
		width: 40px;
		height: 40px;
	}

	.key-factors__info 
	{
		width: calc(100% - 60px);
	}

	.key-factors__desc
	{
		font-size: 16px;
	}


	.section-grid__item
	{
		padding: 20px 20px 30px;
	}

	.section-grid__item-empty
	{
		padding: 10px;
	}

	.section-grid__item-empty .btn-green
	{
		padding: 0 15px;
	}

	.section-grid__title 
	{
		font-size: 18px;
		margin-top: 15px;
	}

	.section-grid__desc
	{
		font-size: 16px;
	}


	.accordion__title
	{
		font-size: 20px;
	}

	.accordion__data
	{
		padding-bottom: 25px;
	}


	.articles__item
	{
		padding: 20px 20px 25px;
	}

	.articles__title 
	{
		font-size: 22px;
	}

	.articles__copy-link
	{
		width: 37px;
		height: 37px;
		background: rgba(77, 189, 60, 1);
	}

	.articles__copy-link svg
	{
		width: 15px;
		height: 16px;
		fill: #fff;
		stroke: #fff;
	}

	.articles__link
	{
		font-size: 16px;
	}


	.stages .text-block
	{
		font-size: 18px;
		margin-top: 20px;
	}

	.stages__title
	{
		font-size: 22px;
	}

	.stages__item
	{
		width: calc(100% / 2 - 20px);
		min-height: 330px;
	}
	
	.stages__name br{
		display: none;
	}

	.stages__icon
	{
		margin-top: 15px;
	}


	.solutions__desc
	{
		width: calc(100% - 65px);
		font-size: 16px;
		margin-left: 15px;
	}

	.solutions__coll 
	{
		width: calc(50% - 10px);
	}

	.solutions__colr 
	{
		width: calc(50% - 10px);
	}

	.solutions__info
	{
		font-size: 16px;
	}


	.install-products .text-block
	{
		font-size: 16px;
	}

	.install-products__col 
	{
		width: calc(50% - 10px);
	}

	.install-products__item
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.install-products__icon
	{
		width: 42px;
		height: 42px;
		margin-top: 4px;
	}

	.install-products__desc 
	{
		width: calc(100% - 62px);
	}

	.install-products__product
	{
		padding: 30px;
	}

	.install-products__name 
	{
		font-size: 21px;
		top: 22px;
		left: 30px;
	}

	.information__note, 
	.section-result__note,
	.install-products__note
	{
		margin-top: 30px;
		font-size: 16px;
	}


	.information__item
	{
		margin-top: 30px;
	}

	.information__box 
	{
		width: calc(50% - 10px);
	}
	

	.section-result__img + .section-result__desc
	{
		margin-top: 25px;
	}


	.packages__items
	{
		margin-top: 0;
	}

	.packages__item 
	{
		width: calc(50% - 10px);
	}

	.packages__name 
	{
		font-size: 24px;
	}

	.packages__price 
	{
		font-size: 22px;
	}

	.packages__desc br
	{
		display: none;
	}
	/*------------
		commit
	------------*/

	.communications__item{
		min-height: 293px;
		padding: 23px 20px 28px
	}

	.communications__top{
		max-width: none;
		width: 100%;
	}

	.communications__desc{
		width: calc(100% - 90px);
	}

	.communications__name {
		font-size: 20px;
	}

	.communications__img{
		width: 133px;
	}

	.communications__item .btn-green{
		line-height: 46px;
		width: auto;
		min-width: 170px;
		font-size: 14px;
	}

	.banner-about{
		padding: 0;
		min-height: 1px;
	}

	.banner-about__img{
		position: relative;
		height: auto;
		padding-bottom: 40%;
		margin-bottom: -34px;
	}

	.banner-about .cont{
		padding: 0;
	}

	.banner-about__box{
		max-width: none;
		border-radius: 24px 24px 0 0;
		padding: 22px 20px 0;
	}

	.banner-about__title {
		font-size: 28px;
	}

	.banner-about__desc{
		margin-top: 15px;
	}

	.banner-about__btn{
		margin-top: 15px;
	}

	.banner-about__btn .btn-green{
		min-width: 220px;
	}


	.innre-banner__box {
        margin-right: -100px;
		padding-top: 40px;
    }

	.innre-banner__info{
		display: none;
	}

	.page-title {
		font-size: 30px;
	}

	.innre-banner__text{
		padding-right: 70px;
	}

	.reviews__video::after {
		width: 64px;
		height: 64px;
		margin: -32px 0 0 -32px;
		background-size: 19px auto;
		
		background-position: calc(50% + 2px) 50%;
	}

	.videos__video::after {
		width: 64px;
		height: 64px;
		margin: -32px 0 0 -32px;
		background-size: 19px auto;
		
		background-position: calc(50% + 2px) 50%;
	}


	.text-block_marg{
		margin-top: 30px;
	}

	.table-wrap{
		overflow: hidden;
		overflow-x: auto;
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
		padding: 0 20px;
	}


	.table-wrap::-webkit-scrollbar{
		display: none;
	}

	.text-block table{
		min-width: 908px;
	}

	.table-wrap_small table{
		min-width: 797px;
	}

	.text-block table th{
		font-size: 15px;
		height: 52px;
	}

	.text-block table td{
		font-size: 15px;
		height: 52px;
	}

	.table-wrap_small table td{
		width: 169px;
	}

	.table-wrap_small table td:first-child{
		width: auto;
	}

	.table-wrap__icon{
		height: 23px;
	}

	.text-block .table-wrap .prices{
		width: calc(100% + 20px);
		margin-left: -10px;
		margin-right: -10px;
	}


	.catalog__sticker{
		left: 15px;
		top: 15px;
		font-size: 9px;

		line-height: 17px;
		padding: 0 4px;
	}

	.catalog__brand{
		padding: 40px 50px;
	}

	.catalog__name {
		font-size: 16px;
		margin-top: 15px;
	}

	.catalog__desc{
		font-size: 14px;
		margin-top: 13px;
	}

	.catalog__btn{
		padding-top: 17px;
	}

	.catalog__btn .btn-green{
		line-height: 46px;
		font-size: 14px;
		width: auto;
	}


	.products__grid{
		margin-top: 13px;
	}

	.products__grid .product{
		margin-top: 20px;
	}

	.product__sticker{
		font-size: 9px;
		padding: 0 7px;
		line-height: 17px;
	}

	.product__thumb{
		height: 197px;
	}

	.product__img{
		padding-top: 15px;
	}

	.product__top{
		flex-wrap: wrap;
	}

	.product__prices{
		width: 100%;
		padding: 6px 0 0;
	}

	.product__feature-item{
		display: block;
	}
	.product__feature-item + .product__feature-item{
		margin-top: 4px;
	}

	.product__feature-name{
		display: block;
	}

	.product__feature-val{
		display: block;
		width: 100%;
		padding: 0;
	}


	.tabs__btn {
		font-size: 16px;
		padding-left: 16px;
		padding-right: 16px;
		min-height: 46px;
		border-radius: 8px;
	}

	.innre-banner__colr._small-small{
		width: 46%;
	}

	.innre-banner__colr._small2 {
        width: 45%;
    }


	.advantages-info__grid {
		margin-top: 14px;
	}

	.advantages-info__item {
		width: calc(100% / 2 - 20px);
	}

	.btn-blue {
		padding: 0 20px;
		font-size: 16px;
		line-height: 56px;
	}


	.footer
	{
		padding-top: 40px;
	}

	.footer-menu__col
	{
		width: calc(100% / 2 - 30px);
	}

	.footer__info
	{
		margin-top: 0;
		padding-top: 10px;
	}
}