@media (max-width: 479px)
{
	body 
	{
		font-size: 14px;
	}


	.form__submit-btn
	{
		margin-top: 0;
	}


	.text-block h3
	{
		font-size: 18px;
	}

	.text-block ul li
	{
		padding-left: 20px;
	}

	.text-block ul li:before
	{
		left: 4px;
	}


	.pagination__flex a
	{
		width: 45px;
		height: 45px;
		line-height: 45px;
	}

	.pagination__link
	{
		width: 100%;
	}


	.btn-green, 
	.btn-light
	{
		width: 100%;
	}

	.main-title
	{
		font-size: 24px;
		letter-spacing: -.01em;
	}

	.text-block h2{
		font-size: 24px;
		letter-spacing: -0.02em;
	}


	.slider-pagination._bot-abs
	{
		bottom: 20px;
	}

	.slider-pagination._bot
	{
		margin-top: 15px;
	}

	.slider-dot
	{
		height: 2px;
		max-width: 24px;
	}


	.wrap{
		padding-top: 65px;
	}

	.header {
		top: 65px;
	}

	.header-mob{
		height: 65px;
		padding-top: 13px;
		padding-bottom: 13px;
	}

	.header-mob__logo{
		width: 100px;
	}

	.header-mob__socials-link {
		width: 35px;
		height: 35px;
	}


	.first-section__wrap
	{
		padding-bottom: 278px;
	}

	.first-section__banner-img
	{
		margin-left: -234px;
		width: 480px;
		height: 278px;
	}

	.first-section__banner-img img
	{
		min-width: 480px;
	}

	.first-section-form__flex
	{
		margin-bottom: 20px;
	}

	.first-section-form__agree
	{
		font-size: 13px;
	}

	

	.first-section__desc
	{
		font-size: 14px;
		margin-top: 10px;
	}


	.stocks__img span
	{
		padding-bottom: 64.11%;
	}


	.advantages__item
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.advantages__icon 
	{
		width: 50px;
		height: 50px;
	}

	.advantages__name
	{
		font-size: 18px;
		margin-top: 10px;
	}
	
	.reviews__wrap
	{
		padding: 20px;
	}

	.reviews__video 
	{
		padding-bottom: 64.11%;
	}

	.reviews__top
	{
		font-size: 18px;
	}

	.reviews__icon 
	{
		width: 16px;
		height: 16px;
		margin-top: -1px;
	}


	.reviews__bot
	{
		font-size: 12px;
		margin-top: 8px;
	}


	.main-about__title
	{
		font-size: 24px;
	}

	.main-about__desc
	{
		margin-top: 20px;
		font-size: 16px;
	}
	

	.main-about__slider
	{
		padding: 0 116px;
	}

	.main-about__coll
	{
		padding: 35px 0;
	}


	.brigadiers__grid
	{
		margin-left: -15px;
	}

	.brigadiers__item 
	{
		width: calc(100% / 2 - 15px);
		margin: 15px 0 0 15px;
	}

	.brigadiers__flex
	{
		margin-top: 13px;
	}

	.brigadiers__sticker
	{
		font-size: 9px;
		padding: 0 7px;
		line-height: 17px;
	}

	.brigadiers__position
	{
		font-size: 14px;
		margin-left: 8px;
	}

	.brigadiers__info
	{
		font-size: 12px;
	}


	.brands__grid
	{
		margin-top: 10px;
	}

	.brands__brand 
	{
		width: calc(100% / 2 - 15px);
		margin-top: 15px;
	}


	.specialization__item
	{
		font-size: 14px;
	}

	.specialization__desc
	{
		font-size: 14px;
		margin-top: 15px;
	}


	.norms-standards__item
	{
		padding: 22px 20px 28px;
		margin-top: 15px;
	}

	.norms-standards__name
	{
		font-size: 18px;
		margin-top: 10px;
	}

	.norms-standards__desc
	{
		font-size: 14px;
		margin-top: 8px;
		line-height: 1.4;
	}


	.about
	{
		padding: 30px 0 46px;
	}

	.about__colr
	{
		margin-top: 15px;
	}

	.about__text
	{
		font-size: 14px;
		line-height: 1.28;
	}

	.about__position
	{
		margin-top: 10px;
		font-size: 12px;
	}

	.about__photo
	{
		margin-left: 12px;
		width: 23.1%;
	}

	.about__photo img
	{
		border-radius: 24px;
	}


	.inner-info__desc
	{
		font-size: 16px;
	}


	.ways-info__title
	{
		font-size: 21px;
	}

	.ways-info__list 
	{
		column-width: 100%;
	}

	.ways-info__list li 
	{
		padding-left: 14px;
	}

	.ways-info__list li::before 
	{
		top: 10px;
	}

	.ways-info__note
	{
		font-size: 16px;
	}


	.section-result__items
	{
		margin-left: 0;
	}

	.section-result__item
	{
		width: 100%;
		margin-left: 0;
	}

	.section-result__img
	{
		padding-bottom: 56.2%;
	}


	.key-factors__item
	{
		padding-right: 30px;
	}


	.accordion__title
	{
		font-size: 16px;
	}


	.articles__title 
	{
		font-size: 18px;
	}

	.articles__desc,
	.articles__link
	{
		font-size: 14px;
	}

	.articles__box 
	{
		padding-right: 45px;
	}


	.stages__title
	{
		font-size: 18px;
	}

	.stages__item
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.stages__name
	{
		font-size: 18px;
		min-height: 44px;
	}

	.stages__name br{
		display: inline;
	}

	.stages__number 
	{
		font-size: 32px;
		top: -5px;
	}

	.stages__desc
	{
		font-size: 14px;
	}

	.stages__info 
	{
		font-size: 14px;
		text-align: left;
		line-height: 1.29;
	}


	.section-info__cols
	{
		margin-top: 20px;
	}


	.section-grid__btn
	{
		width: 100%;
	}


	.solutions__icon
	{
		width: 45px;
		height: 45px;
		padding: 12px;
	}

	.solutions__img
	{
		padding-bottom: 64.11%;
	}


	.btn-box
	{
		margin-top: 20px;
	}

	.btn-box a
	{
		padding: 0 27px;
		width: auto;
		font-size: 14px;
		line-height: 46px;
	}


	.install-products__product 
	{
		padding: 25px 82px;
	}

	.install-products__name 
	{
		font-size: 18px;
		top: 24px;
		left: 20px;
	}

	.install-products .text-block p 
	{
		line-height: 1.32;
	}

	.install-products__items 
	{
		margin-top: 30px;
	}

	.install-products__desc
	{
		font-size: 16px;
	}


	.information .text-block
	{
		font-size: 16px;
	}

	.information .text-block p
	{
		line-height: 1.34;
	}

	
	.packages__img
	{
		padding-bottom: 56.2%;
	}

	.packages__name,
	.packages__price
	{
		font-size: 18px;
	}

	.packages__job
	{
		padding-left: 14px;
		padding-right: 14px;
	}


	.advantages-info__item._big
	{
		padding-right: 20px;
	}

	
	.section-timer__timer
	{
		margin-top: 15px;
	}

	.section-timer__title
	{
		font-size: 24px;
		font-weight: 500;
	}

	.section-timer__sub-title,
	.section-timer._small .section-timer__sub-title
	{
		font-size: 16px;
	}

	.section-timer__sub-title br
	{
		display: none;
	}

	.section-timer__desc
	{
		font-size: 15px;
	}

	.section-timer__item span,
	.section-timer._small .section-timer__item span
	{
		font-size: 40px;
	}

	.section-timer__text,
	.section-timer._small .section-timer__text
	{
		font-size: 16px;
	}

	.section-timer__colon
	{
		font-size: 32px;
	}


	.promotion-timer__title
	{
		font-size: 24px;
	}

	.promotion-timer__img
	{
		max-width: 190px;
	}
	/*------------
		commit
	------------*/

	.communications__name{
		font-size: 18px;
	}

	.communications__link{
		margin-top: 17px;
	}


	.banner-about__title{
		font-size: 24px;
	}

	.banner-about__img{
		padding-bottom: 47%;
	}

	.banner-about__desc{
		font-size: 16px;
		line-height: 1.31;
	}

	.banner-about__btn .btn-green{
		min-width: 1px;
	}


	.videos__grid{
		margin-top: -15px;
	}

	.videos__video {
		margin-top: 15px;
		width: 100%;
	}

	.videos__video::after {
		width: 64px;
		height: 64px;
		margin: -32px 0 0 -32px;
		background-size: 19px auto;
		
		background-position: calc(50% + 2px) 50%;
	}

	.catalog__item {
		width: calc(100% - 20px);
	}

	.catalog__sticker{
		top: 24px;
		left: 20px;
	}

	.catalog__brand img{
		max-width: 180px;
	}

	.catalog__name{
		font-size: 14px;
	}

	.catalog__img
	{
		padding-bottom: 54%;
	}


	.product__img{
		height: calc(100% + 40px);
		margin-bottom: -40px;
	}

	.product__top{
		flex-wrap: nowrap;
	}

	.product__name{
		font-size: 14px;
		line-height: 18px;
	}

	.product__prices{
		width: auto;
		line-height: 18px;
		padding: 0 0 0 16px;
	}

	.product__feature-item{
		display: table-row;
	}

	.product__feature-item + .product__feature-item {
		margin-top: 0;
	}

	.product__feature-name{
		display: table-cell;
	}
	
	.product__feature-val{
		width: auto;
		display: table-cell;
		padding: 0 0 0 16px;
	}

	.products__grid{
		--products_count: 1;
	}


	.promotion-banner__grid {
		gap: 12px 0;
	}

	.promotion-banner__wrap {
		padding-top: 22px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.promotion-banner__title {
		font-size: 24px;
	}

	.promotion-banner__title br{
		display: inline;
	}

	.promotion-banner__box {
		margin-right: -30px;
	}

	.promotion-banner__desc{
		margin-right: -20px;
	}

	.key-factors__item {
		padding-right: 20px;
	}

	.key-factors__info {
		width: calc(100% - 58px);
	}


	.designing__img {
		width: 47.7%;
	}


	.table-block table td{
		font-size: 11px;
	}


	.footer__logo
	{
		width: 132px;
	}

	.footer__info,
	.footer__copy
	{
		font-size: 10px;
	}


	.modal{
		padding-left: 24px;
		padding-right: 24px;
	}
}

@media (max-width: 400px)
{
	.wrap{
		padding-bottom: 70px;
	}

	.fix-btns{
		padding-top: 12px;
		padding-bottom: 8px;
	}

	.fix-btns__btn-icon{
		height: 26px;
	}

	.fix-btns__btn-icon svg{
		width: 26px;
		height: 26px;
	}

	.fix-btns__btn-name {
		font-size: 13px;
	}

	.header-mob__phone {
		font-size: 12px;
		white-space: nowrap;
	}
}