@media (max-width: 1299px)
{

	.text-block h1, 
	.text-block .title
	{
		font-size: 44px;
	}

	.text-block h3 
	{
		font-size: 32px;
		margin-bottom: 20px;
	}

	.text-block p
	{
		margin-bottom: 20px;
	}

	.main-title
	{
		font-size: 34px;
	}

	.text-block h2{
		font-size: 34px;
	}


	.slider-button-prev._top, 
	.slider-button-next._top
	{
		margin-top: -80px;
	}

	.header__top
	{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.header__list-item + .header__list-item
	{
		margin-left: 20px;
	}

	.header__time 
	{
		margin-right: 30px;
	}

	.header__logo 
	{
		max-width: 160px;
	}

	.header-catalog__open.btn-light 
	{
		font-size: 16px;
		line-height: 45px;
		padding-left: 35px;
	}

	.header-catalog__open span 
	{
		left: 14px;
	}

	.nav-menu__item 
	{
		font-size: 16px;
	}

	.nav-menu__item + .nav-menu__item 
	{
		margin-left: 10px;
	}

	.header__socials-link 
	{
		width: 40px;
		height: 40px;
	}

	.header__phone 
	{
		font-size: 16px;
	}

	.header__callback-btn.btn-green 
	{
		font-size: 16px;
		height: 45px;
		line-height: 45px;
	}


	.first-section__info
	{
		max-width: 640px;
	}

	.first-section__title
	{
		font-size: 44px;
	}


	.stocks__slider
	{
		margin-top: 30px;
	}


	.advantages__slider
	{
		margin-top: 30px;
	}


	.portfolio__items
	{
		margin-top: 10px;
		margin-left: -20px;
	}

	.portfolio__item 
	{
		width: calc(100% / 3 - 20px);
		margin: 20px 0 0 20px;
	}


	.reviews__slider
	{
		margin-top: 30px;
	}


	.main-about__coll,
	.main-about__colr
	{
		width: calc(50% - 15px);
	}

	.main-about__title
	{
		font-size: 40px;
	}

	.main-about__btn
	{
		margin-top: 30px;
	}


	.brigadiers__flex
	{
		margin-top: 15px;
	}

	.brigadiers__name
	{
		font-size: 25px;
	}


	.reviews__top
	{
		font-size: 24px;
	}

	.reviews__icon 
	{
		width: 22px;
		height: 22px;
	}


	.brigadiers__grid
	{
		margin-left: -20px;
	}

	.brigadiers__item 
	{
		position: relative;
		width: calc(100% / 4 - 20px);
		margin: 20px 0 0 20px;
	}


	.brands__grid
	{
		margin-left: -20px;
	}

	.brands__brand
	{
		width: calc(100% / 6 - 20px);
		margin: 23px 0 0 20px;
	}

	.brands__brand
	{
		font-size: 16px;
	}


	.banner-about__title
	{
		font-size: 44px;
	}

	.banner-about__desc
	{
		margin-top: 15px;
	}


	.section-result__name
	{
		font-size: 23px;
	}


	.key-factors__item
	{
		padding: 30px;
	}

	.key-factors__info 
	{
		width: calc(100% - 80px);
	}


	.section-grid__title 
	{
		font-size: 23px;
	}


	.accordion__title 
	{
		font-size: 26px;
	}


	.articles__title 
	{
		font-size: 32px;
	}


	.stages__title
	{
		font-size: 26px;
		margin-top: 25px;
	}

	.stages__grid
	{
		margin: 10px 0 0 -20px;
	}

	.stages__item
	{
		width: calc(100% / 3 - 20px);
		margin: 20px 0 0 20px;
		min-height: 380px;
	}

	.stages__number 
	{
		font-size: 40px;
		top: -5px;
	}

	.stages__name 
	{
		padding-right: 70px;
		font-size: 21px;
		min-height: 51px;
	}

	.stages__desc
	{
		font-size: 18px;
	}

	.stages__info
	{
		font-size: 18px;
		margin-top: 30px;
	}

	.stages__icon 
	{
		width: 70px;
		height: 70px;
	}


	.solutions__info
	{
		font-size: 19px;
	}

	.solutions__coll > * + *
	{
		margin-top: 25px;
	}

	.solutions__item + .solutions__item 
	{
		margin-top: 18px;
	}

	.solutions__desc
	{
		font-size: 19px;
	}


	.install-products__items 
	{
		margin-top: 20px;
	}

	.install-products__item
	{
		padding: 30px;
	}

	.install-products__item + .install-products__item 
	{
		margin-top: 20px;
	}

	.install-products__icon
	{
		width: 50px;
		height: 50px;
	}

	.install-products__desc
	{
		width: calc(100% - 80px);
	}

	.install-products__product
	{
		padding: 40px 50px;
	}

	.install-products__name
	{
		font-size: 26px;
		top: 40px;
		left: 45px;
	}

	.information__item,
	.information__note,
	.section-result__note
	{
		margin-top: 40px;
	}


	.packages__name
	{
		font-size: 30px;
	}

	.packages__price 
	{
		font-size: 26px;
	}

	.packages__top
	{
		margin-top: 25px;
	}

	.packages__desc, 
	.packages__job 
	{
		font-size: 18px;
	}


	.section-timer__bg
	{
		margin-top: 25px;
	}
	
	.section-timer__title
	{
		font-size: 44px;
	}

	.section-timer__sub-title
	{
		font-size: 24px;
	}

	.section-timer__desc
	{
		font-size: 17px;
	}

	.section-timer__item span
	{
		font-size: 60px;
	}

	.section-timer__text
	{
		font-size: 24px;
	}

	.section-timer__colon
	{
		font-size: 50px;
		margin-left: 15px;
		margin-right: 15px;
	}

	/*------------
		commit
	------------*/
	.videos__grid{
		margin-top: -20px;
	}

	.videos__video {
		margin-top: 20px;
		width: calc(50% - 10px);
	}


	.catalog__grid{
		margin: 8px 0 0 -20px;
	}

	.catalog__item {
		width: calc(100% / 3 - 20px);
		margin: 23px 0 0 20px;
	}

	.catalog__thumb{
		border-radius: 24px;
	}

	.catalog__name{
		font-size: 26px;
	}

	.catalog__desc{
		font-size: inherit;
	}

	.catalog__info{
		font-size: inherit;
	}


	.products__slider{
		margin-top: 30px;
	}


	.product__thumb{
		border-radius: 24px;
	}


	.products__grid{
		--products_marg: 20px;
		margin-top: 20px;
	}


	._small-text {
        font-size: 14px;
    }
	

	.advantages-info__item {
		border-radius: 24px;
		padding: 32px 30px 32px 94px;
	}

	.advantages-info__item::before{
		left: 20px;
	}
	


	.footer__coll 
	{
		width: 335px;
	}

	.footer__colr 
	{
		width: calc(100% - 360px);
	}
}