@media (max-width: 1199px)
{
	body
	{
		font-size: 16px;
	}

	.text-block h1, 
	.text-block .title
	{
		font-size: 40px;
	}

	.form__line
	{
		margin-bottom: 20px;
	}

	.form .form__input
	{
		font-size: 16px;
	}

	.form__label
	{
		margin-bottom: 10px;
	}

	.form__submit-btn
	{
		margin-top: 10px;
	}

	.wrap-btn
	{
		margin-top: 30px;
	}

	.btn-green, 
	.btn-light
	{
		font-size: 16px;
	}

	.main-title 
	{
		font-size: 30px;
	}

	
	.header__top
	{
		font-size: 14px;
	}

	.header__list-item + .header__list-item 
	{
		margin-left: 15px;
	}

	.header__logo 
	{
		max-width: 140px;
	}

	.header-catalog__open span 
	{
		left: 12px;
	}

	.header-catalog__open.btn-light
	{
		padding-left: 30px;
		font-size: 15px;
	}

	.header__socials-link + .header__socials-link 
	{
		margin-left: 5px;
	}

	.nav-menu__item
	{
		font-size: 15px;
	}

	.header__phone
	{
		font-size: 14px;
	}

	.header__callback-btn.btn-green 
	{
		font-size: 14px;
		padding: 0 12px;
	}


	.first-section__img
	{
		margin-right: 130px;
	}

	.first-section__info
	{
		max-width: 580px;
	}

	.first-section__title
	{
		font-size: 40px;
	}

	.first-section-form__input
	{
		font-size: 16px;
	}

	.first-section-form__field
	{
		min-width: 1px;
		width: 100%;
	}

	.first-section-form__submit-btn
	{
		flex-shrink: 0;
	}

	.first-section__items
	{
		margin-left: -15px;
	}

	.first-section__item
	{
		padding: 15px;
		width: calc(100% / 4 - 15px);
		margin: 15px 0 0 15px;
	}

	.first-section__box 
	{
		width: calc(100% - 56px);
	}

	.first-section__icon 
	{
		width: 40px;
		height: 40px;
	}

	.first-section__desc
	{
		margin-top: 5px;
	}


	.advantages__icon
	{
		width: 64px;
		height: 64px;
	}

	.advantages__name
	{
		font-size: 20px;
	}


	.reviews__top 
	{
		font-size: 22px;
	}


	.main-about__coll
	{
		padding-top: 60px;
	}

	.main-about__title
	{
		font-size: 32px;
	}

	.main-about__desc
	{
		font-size: 17px;
	}


	.brigadiers__name 
	{
		font-size: 20px;
	}

	.brigadiers__position
	{
		font-size: 17px;
	}

	.brigadiers__info
	{
		font-size: 16px;
	}


	.main-form
	{
		max-width: 460px;
	}


	/*------------
		commit
	------------*/

	.communications__items{
		margin: 0;
	}

	.communications__item{
		min-height: 352px;

   		width: calc(100% / 2 - 10px);
		margin-top: 20px;
	}

	.communications__top{
		max-width: none;
		width: calc(100% - 130px);
	}

	.communications__img{
		width: 160px;
	}


	.footer
	{
		font-size: 16px;
	}

	.footer__coll
	{
		width: 250px;
	}

	.footer__colr
	{
		width: calc(100% - 275px);
	}

	.footer__item + .footer__item
	{
		margin-top: 15px;
	}

	.footer__item
	{
		margin-top: 10px;
	}
}